<div class="frame">
    <div class="center" *ngIf='!isDeleted; else ELSE'>

        <div class="profile">
            <div class="image">
                <div class="circle-1"></div>
                <div class="circle-2"></div>
                <img src="http://icons.iconarchive.com/icons/google/noto-emoji-people-face/72/10122-baby-icon.png"
                    width="70" height="70" alt="User">
            </div>

            <div class="name">Name: {{user.FirstName}}</div>
            <div class="job">{{user.Email}}</div>

            <div class="actions">
                <button class="btn" title="Edit">Edit</button>
                <button class="btn" (click)="deleteUser(user.UserId)" title="Delete">Delete</button>
                <a [routerLink]="['/users']" title="Back to Users">Back</a>
            </div>
        </div>

        <div class="stats">
            <div class="box">
                <span class="value">Role:</span>
                <span class="parameter">{{user.Role}}</span>
            </div>
            <div class="box">
                <span class="value">LastName:</span>
                <span class="parameter">{{user.LastName}}</span>
            </div>
            <div class="box">
                <span class="value">ID:</span>
                <span class="parameter">{{user.UserId}}</span>
            </div>
        </div>
    </div>
    <ng-template #ELSE>
        <div class='cen'>
            <div class='prof' style = "margin-top: 100px; margin-left: 60px;">                 
                User <b style = "color: red;">"{{user.FirstName}}"</b> with ID <b style = "color: red;">"{{user.UserId}}"</b> has been deleted.
                <div style = "margin-top: 20px;">
                    <a [routerLink]="['/users']" title="Back to Users">Back</a>
                </div>
            </div>
        </div>
    </ng-template>
</div>