<div class="frame" *ngIf='!isToggled; else ELS'>
    <div class="center" *ngIf='!isDeleted; else ELSE'>
        <div class="profile">
            <div class="image">
                <div class="circle-1"></div>
                <div class="circle-2"></div>
                <img src="http://icons.iconarchive.com/icons/google/noto-emoji-people-face/72/10122-baby-icon.png"
                    width="70" height="70" alt="User">
            </div>

            <div class="name">Name: {{user.FirstName}}</div>
            <div class="job">Email: {{user.Email}}</div>

            <div class="actions">
                <button class="btn" title="Edit" (click)='changeToggle()'>Edit</button>
                <button class="btn" (click)="deleteUser(user.UserId)" title="Delete">Delete</button>
                <a [routerLink]="['/users']" title="Back to Users">Back</a>
            </div>
        </div>

        <div class="stats">
            <div class="box">
                <span class="value">Role:</span>
                <span class="parameter">{{user.Role}}</span>
            </div>
            <div class="box">
                <span class="value">LastName:</span>
                <span class="parameter">{{user.LastName}}</span>
            </div>
            <div class="box">
                <span class="value">ID:</span>
                <span class="parameter">{{user.UserId}}</span>
            </div>
        </div>
    </div>
    <ng-template #ELSE>
        <div class='cen'>
            <div class='prof' style="margin-top: 100px; margin-left: 60px;">
                User <b style="color: red;">"{{user.FirstName}}"</b> with ID <b
                    style="color: red;">"{{user.UserId}}"</b> has been deleted.
                <div style="margin-top: 20px;">
                    <a [routerLink]="['/users']" title="Back to Users">Back</a>
                </div>
            </div>
        </div>
    </ng-template>
</div>

<ng-template #ELS>
    <div class="container register-form" appContainer *ngIf='!isEdited; else EDITED'>
        <form class="card" [formGroup]="form" (ngSubmit)="editUser($event)">
            <div class="note">
                <p>Edit User (all fields must be filled out!)</p>
            </div>
            <div class="form-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder='{{user.FirstName}}'
                                formControlName="FirstName" />
                        </div>
                        <div class="validation" *ngIf="form.get('FirstName').invalid && form.get('FirstName').touched">
                            <small *ngIf="form.get('FirstName').errors.required && form.get('FirstName').touched">
                                This is an obligatory field!
                            </small>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder='{{user.LastName}}'
                                formControlName="LastName" />
                        </div>
                        <div class="validation" *ngIf="form.get('LastName').invalid && form.get('LastName').touched">
                            <small *ngIf="form.get('LastName').errors.required && form.get('LastName').touched">
                                This is an obligatory field!
                            </small>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder='{{user.Email}}'
                                formControlName="Email" />
                        </div>
                        <div class="validation" *ngIf="form.get('Email').invalid && form.get('Email').touched">
                            <small *ngIf="form.get('Email').errors.required && form.get('Email').touched">
                                This is an obligatory field!
                            </small>
                            <small *ngIf="form.get('Email').errors.email && form.get('Email').touched">
                                Wrong email pattern ( use "something@something" instead)!
                            </small>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder='*********'
                                formControlName="Password" />
                        </div>
                        <div class="validation" *ngIf="form.get('Password').invalid && form.touched">
                            <small *ngIf="form.get('Password').errors.required && form.get('Password').touched">
                                This is an obligatory field!
                            </small>
                            <small *ngIf="form.get('Password').errors.pattern && form.get('Password').touched">
                                There should be at least 6 symbols in your password and it should contain at least one
                                capital letter and one at least one digit!
                            </small>
                        </div>
                        <div class="form-group">
                            <label>Is Admin?</label>
                            <input type="checkbox" class="form-control" formControlName="Role"/>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btnSubmit" [disabled]="form.invalid || form.pending">Update</button>
                <div class="text-center"><a [routerLink]="['/users']" title="Back to Users">Back</a>
                </div>
            </div>
        </form>
    </div>
</ng-template>
<ng-template #EDITED>
    <div class="frame">
        <div class='cen'>
            <div class='prof' style="margin-top: 100px; margin-left: 60px;">
                User <b style="color: red;">"{{user.FirstName}}"</b> with ID <b
                    style="color: red;">"{{user.UserId}}"</b> has been updated.
                <div style="margin-top: 20px;">
                    <a [routerLink]="['/users']" title="Back to Users">Back</a>
                </div>
            </div>
        </div>
    </div>
</ng-template>
