<nav class="navbar navbar-dark bg-primary">
  <div class="col-12 col-md-8">
    <a title="Home" routerLink="" *ngIf="!this.isAuthorised; else ELS">
      <img
        src=" https://flaticons.net/gd/makefg.php?i=icons/Wildlife/Camel.png&r=255&g=255&b=255"
        width="40"
        height="35"
      />
    </a>
    <ng-template #ELS>
      <img
        src=" https://flaticons.net/gd/makefg.php?i=icons/Wildlife/Camel.png&r=255&g=255&b=255"
        width="40"
        height="35"/>
    </ng-template>
  </div>
  <div class="form-inline my-2 my-lg-0" *ngIf="isAuthorized; else EL">
    <a class="p-1 text-light" routerLinkActive = 'active' routerLink="contacts" title="Contacts">Contacts</a>
  </div>
  <ng-template #EL>

    </ng-template>
  <div class="form-inline my-2 my-lg-0" *ngIf="isAuthorized; else EL">
    <a class="p-1 text-light" routerLinkActive = 'active' routerLink = 'users' title="Users">Users</a>
  </div>
<ng-template #EL>

  </ng-template>
  <button
    class="my-2 my-sm-0"
    class="btn btn-outline-primary"
    style="font-size: 15px"
    title="Logout"
    (click)="logOut()" *ngIf="isAuthorized; else ELSE">LogOut</button>
  <ng-template #ELSE>

  </ng-template>
</nav>

<router-outlet></router-outlet>
<!-- 
<footer class="footer">
  <p>&copy; 2019 - Angular Test Application</p>
</footer> -->

