// .container {            ВЫНЕС В ДИРЕКТИВУ
//     max-width: 700px;
//     margin: 5% auto;
//   }
  .note {
    text-align: center;
    height: 80px;
    background: -webkit-linear-gradient(left, #0072ff, #8811c5);
    color: #fff;
    font-weight: bold;
    line-height: 80px;
    font-size: 30px;
  }
  .form-content {
    padding: 5%;
    border: 1px solid #ced4da;
  }
  .form-control {
    border-radius: 1.5rem;
  }
  .btnSubmit {
    border: none;
    border-radius: 1.5rem;
    padding: 1%;
    width: 20%;
    cursor: pointer;
    background: #0062cc;
    color: #fff;
  }
// .loader_text{          ВЫНЕС в Директиву
//   padding-top: 3%;
//   padding-bottom: 3%;
//   text-align: center;
// }
  .loader {
    margin-top: 20%;
    margin-left: 39%;
    text-align: center;
    border: 16px solid    #8811c5;
    border-radius: 50%;
    border-top: 16px solid #0072ff;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }

  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
