<div class="container" *ngIf="this.isLoading; else ELSE">
    <div class="col-md-12">
            <div class="loader"></div>
            <div class="loader_text" appSpinner>Loading...</div>
    </div>
    <!-- <div class="col-md-4">
        
    </div>
    <div class="col-md-4">

    </div> -->
</div>
<ng-template #ELSE>
    <div class='title'>U S E R S</div>
    <div class='row'>
        <div class='col-md-6' *ngFor='let user of users'>
            <br>
            <p><b>Name:</b> {{user.FirstName}}</p>
            <a [routerLink]="['/users', user.UserId]">Show details</a>
            <br>
        </div>
    </div>
</ng-template>