.btn{
  margin: 1% 47%;
}

.row {
  margin-left: 27%;
}

.title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #0072ff;
  margin-top: 2%;
  margin-bottom: 2%;
}

.loader {

  margin-top: 20%;
  margin-left: 44%;
  border: 16px solid    #8811c5;
  border-radius: 50%;
  border-top: 16px solid #0072ff;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

